@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --TITLE-SPAN-CLR: #ce9898;
  --TITLE-CLR: #423a3a;
  --DESCRIPTION-CLR: #ce9898;
  --PLACEHOLDER-CLR: hsla(0, 36%, 70%, 0.5);
  --INPUT-CLR: #423a3a;
  --INPUT-BORDER-CLR: hsla(0, 36%, 70%, 0.5);
  --INPUT-BORDER-ERROR-CLR: #f96464;
  --INPUT-BORDER-SUCESS-CLR: #008000;
  --INPUT-MESSAGE-ERROR-CLR: #f96464;
  --INPUT-MESSAGE-SUCESS-CLR: #008000;

  /* GRADIENTS */

  --BODY-BG-GRAD: linear-gradient(-15deg, #fff 0%, #fff4f4 100%);
  --BUTTON-DEFAULT-GRAD: linear-gradient(-53deg, #f8bfbf 0%, #ee8b8b 100%);
  --BUTTON-DISABLED-GRAD: linear-gradient(-53deg, #e0e0e0 0%, #8c8c8c 100%);

  /* TYPOGRAPHY */
  --FF: "Josefin Sans", sans-serif;

  /* TYPOGRAPHY-MOB  */
  --TITLE-SPAN-MOB: 300 2.5rem/2.625rem var(--FF);
  --TITLE-MOB: 600 2.5rem/2.625rem var(--FF);
  --TITLE-LS-MOB: 0.6769rem;
  --DESCRIPTION-MOB: normal 0.875rem/1.375rem var(--FF);
  --INPUT-MOB: normal 0.875rem/1.75rem var(--FF);
  --STATUS-MOB: normal 0.8125rem var(--FF);

  /* TYPOGRAPHY-DSK  */
  --TITLE-SPAN-DSK: 300 4rem/4rem var(--FF);
  --TITLE-DSK: 600 4rem/4.4375rem var(--FF);
  --TITLE-LS-DSK: 1.0825rem;
  --DESCRIPTION-DSK: normal 1rem/1.75rem var(--FF);
  --INPUT-DSK: normal 1rem/1.75rem var(--FF);
  --STATUS-DSK: normal 0.8125rem/1.75rem var(--FF);
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-image: var(--BODY-BG-GRAD);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

/* || HEADER */
.header__logo {
  width: 100%;
  padding: 1.9375rem 0rem 2.0069rem 2rem;
}
.header__logo img {
  max-width: 100px;
}
.header__mobile-hero {
  width: 100%;
  height: 250px;
}
.header__mobile-hero img {
  width: 100%;
}
/* MAIN */
.main-content {
  margin: 4rem 2rem 5.75rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-content__title {
  font: var(--TITLE-MOB);
  letter-spacing: var(--TITLE-LS-MOB);
  color: var(--TITLE-CLR);
  margin-bottom: 1rem;
  max-width: 311px;
  text-transform: uppercase;
}
.main-content__title span {
  font: var(--TITLE-SPAN-MOB);
  color: var(--TITLE-SPAN-CLR);
}

.main-content__description {
  font: var(--DESCRIPTION-MOB);
  color: var(--DESCRIPTION-CLR);
  max-width: 311px;
  margin-bottom: 2rem;
}

.rsvpForm__wrapper {
  position: relative;
  width: 100%;
  max-width: 311px;
}

input[type="email"] {
  width: 100%;
  padding: 0.6875rem calc(72px + 24px + 12px) 0.5625rem 1.5rem;
  font: var(--INPUT-MOB);
  color: var(--INPUT-CLR);
  border: 1px solid var(--INPUT-BORDER-CLR);
  border-radius: 28px;
}

input[type="email"]::placeholder {
  color: var(--PLACEHOLDER-CLR);
}

input[type="email"]:focus {
  outline: none;
  box-shadow: none;
}
.rsvpForm__button {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-image: var(--BUTTON-DEFAULT-GRAD);
  border: none;
  padding: 0.9375rem 1.6975rem 0.9581rem 1.75rem;
  cursor: pointer;
  border-radius: 28px;
}
.rsvpForm__button:disabled {
  background-image: var(--BUTTON-DISABLED-GRAD);
  cursor: not-allowed;
}

.rsvpForm__status-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 72px;
  display: none;
}
.rsvpForm__button-icon img {
  max-width: 24px;
}

.status-message {
  font: var(--STATUS-MOB);
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  display: none;
}

/* || DESKTOP-VIEW */
@media (min-width: 1024px) {
  body {
    overflow-x: hidden;
    display: flex;
    align-items: center;
  }

  /* || HEADER */
  .section-wrapper {
    padding: 4.6819rem 13.75rem 9.5rem 10.3125rem;
  }
  .header {
    margin-bottom: 136.09px;
  }

  .header__logo {
    width: 0rpx;
    padding: 0px;
  }
  .header__logo img {
    max-width: 158px;
  }

  /* MAIN */
  .main-content {
    margin: 0px;
    align-items: flex-start;
  }

  .main-content__title {
    font: var(--TITLE-DSK);
    letter-spacing: var(--TITLE-LS-DSK);
    margin-bottom: 2rem;
    max-width: 444px;
  }
  .main-content__title span {
    font: var(--TITLE-SPAN-DSK);
  }

  .main-content__description {
    font: var(--DESCRIPTION-DSK);
    max-width: 444px;
    margin-bottom: 2.5rem;
  }

  .rsvpForm__wrapper {
    max-width: 445px;
  }

  input[type="email"] {
    width: 100%;
    padding: 0.6875rem calc(116px + 24px + 12px ) 0.5625rem 1.5rem;
    font: var(--INPUT-DSK);
  }

  .rsvpForm__button {
    padding: 1.1875rem 2.8225rem 1.2081rem 2.875rem;
  }
  .rsvpForm__button:disabled {
    background-image: var(--BUTTON-DISABLED-GRAD);
    cursor: not-allowed;
  }

  .rsvpForm__status-icon {
    right: 116px;
  }
  .rsvpForm__button-icon img {
    max-width: 24px;
  }

  .status-message {
    font: var(--STATUS-DSK);
    margin-top: .25rem;
    margin-left: 2rem;
  }
  .footer__desktop-hero{
    display: block;
    width: 42.36%;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .footer__desktop-hero img{
    min-height: 100vh;
    width: 100%;
  }
}
