@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --GREY-900: #2a4144;
  --GREY-500: #86a2a5;
  --WHITE: #fff;
  --GREEN-600: #0c7d69;
  --GREEN-200: #e0f1e8;
  --ERROR-MESSAGE: #d73c3c;
  --SUCCESS-MESSAGE: #0c7d69;
  --BUTTON-DISABLED: #8c8c8c;
  --BUTTON-HOVER: #063f35;

  /* TYPOGRAPHY */
  --FF: "Karla", sans-serif;

  /* TYPOGRAPHY-SHARED */
  --BODY-LH: 150%;
  --HEADING: bold 2rem/100% var(--FF);
  --HEADING-LS: -0.0625rem;
  --BODY-M-BOLD: bold 1.25rem / var(--BODY-LH) var(--FF);
  --BODY-M: normal 1.25rem / var(--BODY-LH) var(--FF);
  --BODY-S: normal 1rem / var(--BODY-LH) var(--FF);
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}
