@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");
/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */

  --GREEN: #54e6af;
  --BLUE-950: #121725;
  --BLUE-950-FILTER: #121725;
  --BLUE-900: #2c344b;
  --BLUE-600: #5a668a;
  --BLUE-300: #c2cbe5;
  --WHITE: #fff;
  --RED: #fb3e3e;

  /* GRADIENTS */

  /* TYPOGRAPHY */

  --FF: "Chivo", sans-serif;

  /* TYPOGRAPHY-DSK*/
  --TEXT-PRESET-1-DSK: 300 3rem/120% var(--FF);
  --TEXT-PRESET-2-DSK: 300 1.125rem/150% var(--FF);
  --TEXT-PRESET-3-DSK: bold 0.875rem/200% var(--FF);

  /* TYPOGRAPHY-MOB*/
  --TEXT-PRESET-1-MOB: 300 2rem/120% var(--FF);
  --TEXT-PRESET-2-MOB: 300 0.875rem/150% var(--FF);

  /* TYPOGRAPHY STATUS MESSAGE */
  --STATUS-MESSAGE: bold 0.75rem var(--FF);
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}


/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--BLUE-950);
  background-image: url(./images/mobile-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

/* POD-PAGE */
.pod-page {
  display: flex;
  flex-flow: column;
  gap: 3.5rem;
  align-items: center;
}

.pod-page__content {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.pod-page__title {
  font: var(--TEXT-PRESET-1-MOB);
  color: var(--WHITE);
  margin-bottom: 1rem;
  max-width: 303px;
}
.pod-page__title {
  color: var(--GREEN);
}
.pod-page__description {
  font: var(--TEXT-PRESET-2-MOB);
  color: var(--BLUE-300);
  margin-bottom: 2.5rem;
  max-width: 303px;
}
.pod-page__social-icons {
  display: flex;
  align-items: center;
  width: 303px;
  justify-content: space-between;
  margin-bottom: 41.05px;
}

.pod-page__social-icon img[alt="spotify"] {
  max-width: 55.94px;
}

.pod-page__social-icon img[alt="apple-podcast"] {
  max-width: 45px;
}

.pod-page__social-icon img[alt="google-podcast"] {
  max-width: 72.97px;
}

.pod-page__social-icon img[alt="pocket-casts"] {
  max-width: 75.88px;
}

.access_form {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5rem;
}
.pod-page__email-input-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 303px;
}
.pod-page__email-input {
  width: 100%;
  border: none;
  padding: 8px 8px 8px 32px;
  background-color: var(--BLUE-900);
  color: var(--WHITE);
  font: var(--TEXT-PRESET-3-DSK);
  border-radius: 28px;
}

.pod-page__button {
  background-color: var(--GREEN);
  color: var(--BLUE-950);
  box-shadow: 0px 2px 4px 0px hsla(157, 74%, 62%, 0.14);
  font: var(--TEXT-PRESET-3-DSK);
  padding: 0px 32px;
  line-height: 2.75rem;
  border: none;
  border-radius: 28px;
  width: 100%;
}

.js-submit-status-message {
  font: var(--STATUS-MESSAGE);
}
.host-tablet,
.host-dsk {
  display: none;
}
/* || TABLET */
@media screen and (min-width: 768px) {
  body {
    background-color: var(--BLUE-950);
    justify-content: left;
    background-image: url("");
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .host-tablet {
    display: block; /* Show tablet image */
    position: absolute;
    top: -9px;
    right: -60px;
    bottom: 156px;
    height: 868px;
    width: 460px;
    z-index: -1;
    
  }
  /* POD-PAGE */
  .pod-page {
    gap: 6.5rem;
    align-items: left;
  }
  .podpage__logo{
    margin-left: -420px;
  }
  .pod-page__content {
    align-items: left;
    background-color: var(--BLUE-950);
    padding: 5.5rem 4rem 0rem 0rem;
  }

  .pod-page__description-content{
    width: 100%;
    max-width: 547.65px;
    margin-left: 44px;
  }
  .pod-page__title {
    font: var(--TEXT-PRESET-1-DSK);
    color: var(--WHITE);
    margin-bottom: 1.5rem;
    max-width: 528px;
    text-align: left;
    text-transform: uppercase;
  }
  .pod-page__title span{
    color: var(--GREEN);
  }
  .pod-page__description {
    font: var(--TEXT-PRESET-2-DSK);
    max-width: 448px;
    text-align: left;
  }
  .pod-page__uno-reverse{
    display: flex;
    flex-flow: column-reverse;
    margin-left: -110px;
  }
  .pod-page__social-icons {
    width: 0px;
    justify-content: left;
    margin-bottom: 0px;
    gap: 2.5rem;
  }

  .pod-page__social-icon img[alt="spotify"] {
    max-width: 55.94px;
  }

  .pod-page__social-icon img[alt="apple-podcast"] {
    max-width: 45px;
  }

  .pod-page__social-icon img[alt="google-podcast"] {
    max-width: 72.97px;
  }

  .pod-page__social-icon img[alt="pocket-casts"] {
    max-width: 75.88px;
  }

  .access_form {
    flex-flow: row;
    align-items: left;
    gap: 0.5rem;
    margin-bottom: 4.0025rem;
  }
  .pod-page__email-input-wrapper {
    flex-flow: row;
    gap: 0rem;
    max-width: 448px;
    position: relative;
  }
  .pod-page__email-input {
    padding: 8px 177px 8px 32px;
    height: 52px;
  }

  .pod-page__button {
    position: absolute; 
    width: 173px;
    height: 44px;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
  }
  .host-tablet{
   display: block;
  }
}
