@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --WHITE: #fff;
  --GREY-900: #48556a;
  --GREY-500: #6e8098;
  --GREY-400: #9daec2;
  --GREY-200: #ecf2f8;

  /* TYPOGRAPHY */
  --FF: "Manrope", sans-serif;
  --Text-Preset-1: bold 1.25rem/130% var(--FF);
  --Text-Preset-1-LS: 0.25px;
  --Text-Preset-2: bold 0.8125rem/140% var(--FF);
  --Text-Preset-2-LS: 0.12%;
  --Text-Preset-2-Medium: 500 0.8125rem/140% var(--FF);
  --Text-Preset-2-Medium-LS: 0.12%;
  --Text-Preset-3: normal 0.8125rem/140% var(--FF);
  --Text-Preset-3-LS: 25%;
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  padding: 4rem 1.5rem 4.0625rem 1.5rem;
  background-color: var(--GREY-200);
}

h1 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

a:any-link {
  text-decoration: none;
  color: black;
}

/* HEADER */
.article-wrapper {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  width: 327px;
  height: 538px;
  overflow: hidden;
  background-color: var(--WHITE);
  border-radius: 10px;
  box-shadow: 0px 40px 40px rgba(201, 213, 225, 0.5) ;
}

.article-header__logo img {
  width: 100%;
  height: 200px;
  margin-bottom: 32px;
}

/* ARTICLE-CONTENT */
.article-content {
  display: flex;
  flex-flow: column;
  padding: 0rem 1.875rem 1.125rem 1.875rem;
}
.article-main {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
}
.article-main__header {
  font: var(--Text-Preset-1);
  color: var(--GREY-900);
  letter-spacing: var(--Text-Preset-1-LS);
}
.article-main__description {
  font: var(--Text-Preset-2-Medium);
  color: var(--GREY-500);
  letter-spacing: var(--Text-Preset-2-Medium-LS);
}

/* FOOTER */
.article-footer {
  display: flex;
  gap: 2.8125rem;

}

.avatar-content {
  display: flex;
  flex-flow: row;
  gap: 1rem;
}

.avatar-content__banner img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar__description {
  display: flex;
  flex-flow: column;
}

.avatar__description-name {
  font: var(--Text-Preset-2);
  color: var(--GREY-900);
  letter-spacing: var(--Text-Preset-2-LS);
}
.avatar__description-date {
  font:var(--Text-Preset-2-Medium) ;
  color: var(--GREY-400);
  letter-spacing: var(--Text-Preset-2-Medium-LS);
}

/* SOCIALS */
.avatar-socials {
  display: none;
}

.Share{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  width: 32px;
  height: 32px;
  background-color: var(--GREY-200);
 margin-left: clamp(1rem, 5vw, 2rem);
}
.share-alt{
  display: none;
}